* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Bahnschrift, Arial, sans-serif;
}

body {
    margin: 20px;
}

main {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

/* Left column */
main section:first-child {
    position: sticky;
    top: 20px;
}

/* Right column */
main section:last-child {
    position: sticky;
    top: 20px;
}
section {
    flex: 1;
}

#puppyList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

/* Wider screen */
@media (max-width: 1200px) {
    #puppyList {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Narrow */
@media (max-width: 700px) {
    #puppyList {
        grid-template-columns: 1fr;
    }
}

.puppy {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    width: 180px;
}
.puppy img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

#puppyDetails img {
  width: 250px;
  height: auto;
  border-radius: 8px;
}

button {
  margin-top: 10px;
  padding: 8px 14px;
  cursor: pointer;
}